* {
  font-family: "JetBrains Mono", monospace;
  font-size: 14px;
  padding: 0 10px;
  min-height: 30px;
  color: white;
}

window#waybar {
  background-color: #000000;
  border-radius: 0px;
}

/* Hover highlight */
#pulseaudio:hover, 
#clock:hover, 
#custom-power:hover,
#custom-clipboard:hover,
#custom-notifications:hover {
  background-color: rgba(126, 107, 71, 0.1); /* subtle gold hover */
}
